amazon-kinesis-video-streams-producer-sdk-cpp/
h264/
frames/
*.mp4
*.h264
*.h265
*.mjpeg

esp32/**/build
esp32/**/archive
esp32/**/.vscode
esp32/**/dependencies.lock
esp32/**/managed_components

esp32/usb_camera_mic_spk/
static-1s-h264.sh
install-gstreamer.sh
kvs-bridge-h264.py
export-aws.sh
