amazon-kinesis-video-streams-producer-sdk-cpp/
h264/
frames/
*.mp4
*.h264
*.h265
*.mjpeg

esp32/tcp_client/build
esp32/tcp_client/archive
esp32/tcp_client/.vscode
esp32/tcp_client/dependencies.lock
esp32/tcp_client/sdkconfig
esp32/tcp_client/sdkconfig.old

static-1s-h264.sh
install-gstreamer.sh
kvs-bridge-h264.py
export-aws.sh

