[submodule "amazon-kinesis-video-streams-consumer-library-for-python"]
	path = amazon-kinesis-video-streams-consumer-library-for-python
	url = https://github.com/aws-samples/amazon-kinesis-video-streams-consumer-library-for-python.git
